*{
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

header{
	background-color: #333;
	height: 3em;
	color: #FFF;
	margin-bottom: 1em;
}

footer{
	background-color: #333;
	height: 2em;    
	width: 100%;
	color: #FFF;
	position: absolute;
	bottom: 0%;
}

header h1{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}
header h2{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}

button{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#333;
	border-color: #04324c;
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;

}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
  
li {
	float: left;
}
  
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #111;
}

.barra_navegacao{
	display: inline;
}

.titulo {
	float: left;
	padding: 0.5%;

}

.nav {
	  float: right;
}

.container div{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center
}

.button-executar{
	align-items: center;
	margin: 0% auto;
}

main h2{
	padding: 2em;
}
